@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

input {
  outline: none;
}

body.dark input {
  color: #242424 !important;
}

body.dark input {
  color: #fff !important;
}

button {
  cursor: pointer;
}

/* From Uiverse.io by catraco */
/* Hide the default checkbox */
[type="checkbox"].container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

[type="checkbox"].container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  border-radius: 50%;
  background-color: white;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  transition: 0.3s;
  transform: scale(0);
  border-radius: 50%;
}

/* When the checkbox is checked, add a blue background */
[type="checkbox"].container input:checked ~ .checkmark {
  background-color: #20c580;
  transform: scale(1);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
[type="checkbox"].container input:checked ~ .checkmark:after {
  display: block;
}

[type="checkbox"].container input:checked ~ .celebrate {
  display: block;
}

/* Style the checkmark/indicator */
[type="checkbox"].container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.3em;
  height: 0.5em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

[type="checkbox"].container .celebrate {
  position: absolute;
  transform-origin: center;
  animation: kfr-celebrate 0.4s;
  animation-fill-mode: forwards;
  display: none;
  stroke: #20c580;
}

@keyframes kfr-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
    display: none;
  }
}

/* From Uiverse.io by Creatlydev */
.toggle {
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
  line-height: 1;
}

.input {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 500ms;
}

.icon--moon {
  transition-delay: 200ms;
}

.icon--sun {
  transform: scale(0);
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transition-delay: 200ms;
  transform: scale(1) rotate(360deg);
}
